{% extends 'layout.html.twig' %}

{% block content %}
{% if horses is defined %}
    <p id="AvailableHorse">There are {{ horses }} availables horses!</p>
{% endif %}
{% if message is defined %}
    <p id="message">{{ message }}</p>
    <a href="/home/index">Search a new horse!</a>
{% endif %}
{% endblock %}